

/* Universal Selector */

* { 
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

 /* Shared Style with others */

.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.logo{
    width: 139px;
    height: 60px;
    
}

/* Main Style */

nav { width: 1600px; height: 92px;
    background-color: antiquewhite;
    padding-top: 10px;  
   border: 1px solid red;
   display: flex;
   justify-content: space-between;
   align-items: center;
  
}

ul,.menu {

    display: flex;
    list-style-type: none;
    gap: 32px;
 text-align: center;
}

ul, li, a { 
    text-decoration: none;
}


.btn{
    background-color: #469165;
    margin-right: 150px;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
  
} 

main{
    background-image:url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    padding: 140px 120px;
    background-position: fixed;
    text-align: center;  
}

 .header-ponit{
    background-color: white;
    display: inline-block;
    padding: 8px 12px;
    color:#469165;
    font-weight: 500;
    border: none;
    border-radius: 1000px;
}


.whitetxt{

    color:white
}

.greentext{

    color:#30B868;
}

.ptext{

    color:white
}

.primarybtn01{ 

    background-color:#469165;
    padding: 12px 16px;
    border: 0px;
    border-radius: 4px;
    margin-top: 20px;
    color: white;
}

.trasferenbtn{
    background: none;
    padding: 12px 16px ;
    color: white;
    border: 1px solid;
    border-radius: 4px;
    gap:5px;
}

.app-section{

    background-color: #fbfbfb;
}

.middelframe {

    display: inline-block;
    width: 1600px;
    height: 152px;
    padding-top: 50px;
    text-align: center;
    margin: 0;
  
}

.card-section{

    display: flex;
    justify-content: center;
}

.card{
    width: 322px;
    height: 300px;
    background-color:white;
    padding: 24px;
    border: 1px solid 
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}


.card img{

    background-color:#F95555;
    border: none;
    border-radius: 1000px;
    width:60px;
    height: 60px;
    padding:15px
    
}

.card-font{

    font-weight: bold;
    color: #469165;
    font-size: large;
}


