

* { 
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav { width: 1600px; height: 92px;
    background-color: antiquewhite;
    padding-top: 10px;  
   border: 1px solid red;
   display: flex;
   justify-content: space-between;

}