

/* Universal Selector */

* { 
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

 /* Shared Style with others */

.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.logo{
    width: 139px;
    height: 60px;
    
}

/* Main Style */

nav { width: 1600px; height: 92px;
    background-color: #FFFFFF;
    padding-top: 10px;  
   border: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
  
}

ul,.menu {

    display: flex;
    list-style-type: none;
    gap: 32px;
 text-align: center;
}

ul, li, a { 
    text-decoration: none;
    color: black;
    font-weight: 500;
}


.btn{
    background-color: #469165;
    margin-right: 150px;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
  
} 

main{
    background-image:url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    padding: 140px 120px;
    background-position: fixed;
    text-align: center;  
}

 .header-ponit{
    background-color: white;
    display: inline-block;
    padding: 8px 12px;
    color:#469165;
    font-weight: 500;
    border: none;
    border-radius: 1000px;
}


.whitetxt{

    color:white
}

.greentext{

    color:#30B868;
}

.ptext{

    color:white
}

.primarybtn01{ 

    background-color:#469165;
    padding: 12px 16px;
    border: 0px;
    border-radius: 4px;
    margin-top: 20px;
    color: white;
}

.trasferenbtn{
    background: none;
    padding: 12px 16px ;
    color: white;
    border: 1px solid;
    border-radius: 4px;
    gap:5px;
}

.app-section{

    background-color: #fbfbfb;
}

.middelframe {

    display: inline-block;
    width: 1600px;
    height: 152px;
    padding-top: 50px;
    text-align: center;
    margin: 0;
  
}

.card-section{

    display: flex;
    justify-content: center;
}

.card{
    width: 322px;
    height: 300px;
    background-color:white;
    padding: 24px;
    border:0px solid; 
    border-radius:10px;
    margin:10px;
    text-align:center;
}


.card img{

    background-color:#F95555;
    border: none;
    border-radius: 1000px;
    width:60px;
    height: 60px;
    padding:15px
    
}

.card-font{

    font-weight: bold;
    color: #469165;
    font-size: large;
}

.app-develop{

    background: none;
    margin-top: none;
    padding: 60px;
    border: none;
    width: 1600px;
    height: 520px;
    gap: 40px;
    

}

.app-body{
    display: flex;
    border: none;
    width: 1360px;
    height: 300px;
    justify-content: center;
}

.app-image{

    border: none;
    border-radius: 8px;
    width: 300px;
    height: 300px;

    
  
}
.app-solution{

    background-color: white;
    display: inline-block;
    margin: 20px 80px;
    padding-top: none;
   
    
}


.app-textc{
    color:#30B868
}

.checkmark-design p{ 
    display: flex;
    gap: 6px;
}

.early-access{

    background-color: #F7F6F2;
    margin: 0 auto;
    border: none;
    justify-items: center;
    text-align: center;
    align-items: center;
    width: 1360px;
    height: 384px;
    padding: 150px 80px;
    gap: 24px;
    box-sizing: border-box;

    
}

.solution-button{

    background-color: #469165;
    display: flex;
    margin: 30px auto;
    padding: 12px 16px;
    gap: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 700;
}

.footer-body{

    background-color: #001931;
    width: 1600px;
    height: 340px;
    margin-top: 120px;
    
}

.social-link{
    color: white;
    font-weight: 700;
    font-size: medium;
}

.social-icon{

    width: 35px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 1000px;
    padding: 2px;
    margin-top: 5px;
}

.footernav{
    display: flex;
    justify-content: space-between;
    padding: 50px 30px ;
    border-bottom: 0.5px dotted white;
    border-width: 10%;
    width: 1360px;
    height: 64px;
    justify-items: center;
    padding: 100px;
    margin: 0 auto;
    
}